body {
  background: linear-gradient(135deg, #8e9eab, #eef2f3);
  font-family: 'Segoe UI', sans-serif;
  margin: 0;
}

.container {
  display: flex;
  justify-content: center;
  padding-top: 40px;
}

.registro-box {
  width: 450px;
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 6px 20px #0003;
}

button {
  background: #4b79a1;
  padding: 12px;
  width: 100%;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: .3s;
}
button:hover {
  background: #35516f;
}
